question 1 answer:

In [7]:
num = int(input("enter the number"))
if num < 0:
    print("negative don't have factorial")
elif num == 0:
    print("factorial of 0 is 1")
else:
    fact = 1
    for i in range(1, num +1):
        fact = fact * i 
    print(f"the factorial of {num} is {fact}")

enter the number 9

the factorial of 9 is 362880

question 2 answer:

In [12]:
num = int(input("enter a number:"))
print(f"multiplication table for {num}:")
for i in range(1,11):
    print(f"{num} * {i} = {num * i}")

enter a number: 8

multiplication table for 8:
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

question 3 answer:

In [15]:
a = 0
b = 1

print(a)
print(b)

for i in range(8): 
    c = a + b
    print(c)
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34

question 4 answer:

In [21]:
num = int(input("enter a number:"))
sum = 0 
temp = num

while temp > 0:
    digit = temp % 10
    sum = sum + (digit ** 3)
    temp = temp // 10 

if sum == num:
    print("armstrong number !")
else:
    print("not armstrong number.")

enter a number: 7

not armstrong number.

question 5 answer:

In [2]:
lower = int(input("Enter the lower range: "))
upper = int(input("Enter the upper range: "))

print(f"Armstrong numbers between {lower} and {upper} are:")

for num in range(lower, upper + 1):

    digits = str(num)
    power = len(digits)
    total = 0
    for digit in digits:
        total += int(digit) ** power
    
    
    if total == num:
        print(num)

Enter the lower range:  4
Enter the upper range:  8

Armstrong numbers between 4 and 8 are:
4
5
6
7
8